@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    background-color:white;

}
.container{
    font-family: "Poppins", sans-serif;
    margin: 12px 12px;

}

menu{
    background-image: url(images/img15.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 88vh;

}



.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.logo h2 {
    font-size: 19px;
    font-weight: 450;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    color: black;
    font-weight: 500;
    z-index: 200;
    text-transform: uppercase;
}

.Navbar ul{
    display: flex;
    align-items: center;
    margin: 20px 20px;
    gap: 3em;
    font-size: 13px;
}

.Navbar ul li{
    list-style: none;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    color: black;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-size: 14px;

}  

.menu-bar{
    display: none;
    margin-right: 22px;
}
/*   Header section */







/* ############## SECTION 1  ################*/
.Section-1{
    font-family: "Poppins", sans-serif;
    margin-bottom: 5em;
   
  
}

.landing-page{
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 1em;
    
    
}


.sect1-sub1{
    font-size: 27px;
    color: rgb(0, 11, 168);

    
}
.sect1-sub2{
    color: black;
    line-break: 1;
    font-size: 27px;
    font-weight: 600;
    align-items: end;
    padding-top: 20px;
    

}

.Sect-btn{
    margin: 10px 0px;
    padding: 3px;
}

.Sect-btn button{
    background-color: black;
    font-size: 15px;
    color: white;
    font-weight: 500;
    border-radius: 14px;
    padding: 3px;
    width:5em;
    font-family: "Poppins";
    cursor: pointer;

    
}/* End of Section 1 */







/* ##############    ABOUT SECTION    ############# */
.About-section{
    background-color: rgba(197, 197, 197, 0.171);
    padding: 2em;
    margin: 3em 0em;
}


.about-container{
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}


.about-layer2 h3{
    color: tomato;
     
}


.about-layer1 img{
    width: 20em;
    height: 22em;
    box-shadow: 20px 10px rgba(192, 191, 191, 0.041);
    
}

.about-text{
    width: 20em;
    font-size: 17px;
    
}/* End of About Section */









/* ######  Section 2 #######*/
.Section2{
    background-color: white;
    text-align: center;
    padding: 3px 20px 40px ;
    
}
.Sect2-Head h3{
    color: tomato;
    font-weight: 600;
    font-size: 20px;

}
.Card-container{
    display: flex;
    justify-content:center;
    gap: 16px;
    flex-wrap: wrap;

    
}
.Sect2-cards{
    background-color: whitesmoke;
    width: 17em;
    height: 27em;
    border-radius: 0.6em;
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-shadow: 10px 10px 10px rgba(32, 32, 32, 0.171);
}

.card1-image img{
    width: 100%;
    height: 13em;
    border-radius: 0.6em;
    
}

.card1-text p{
    font-size: 12px;
    text-align: left;
} 

.card1-text{
    padding: 1em;
}

.card1-btn button{
    padding: 4px;
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    border-radius: 0.9em;
    width: 5em;
    cursor: pointer;
    margin-bottom: 1em;
    

}
/* #########   End Of section 2 ########### */





/* ######### Section 3 ######## */
.Section-3{
    padding: 20px;
    margin-top: 3em;


}

.Sect3-Service{
    background-color:whitesmoke;
    width: 12em;
    height: 14.3em;
    padding: 12px;
    border-radius: 0.5em;
    margin-bottom: 2px;
    border: rgb(194, 194, 194) 2px solid;
    box-shadow:3px 5px  10px rgba(0, 0, 0, 0.425);
}

.Sect3-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    
}
.sect3-head {
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    padding: 3px 0px;
    color: tomato;
    font-weight: 700;
}
.sect3-lay1{
    text-align: center;
    font-size: 20px;
}

.sect3-text{
    font-size: 12px;
    padding-bottom: 10px;
    padding: 3px;
} 

.Sect3-btn{
    padding: 4px;
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    border-radius: 0.9em;
    width: 5em;
    cursor: pointer;
}/* ##########  End of section 3 ######### */





    

/*###########  SECTION 4 ######### */
.Section-4{
      background-color: rgb(217, 240, 240);
      padding: 30px 0px;
      text-align: center;
}


.sect4-head h3{
    text-align: center;
    color: tomato;

}


.sect4-head h4{
    font-size: 13px;
    font-weight: 100;
}

.sect4-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.3em;
    
}


#Name{
    width: 30em;
    height: 2em;
    padding: 9px;
    outline: none;
    border: black;
    border-radius: 0.7em;
}

#Email{
    width: 30em;
    height: 2em;
    padding: 9px;
    outline: none;
    border: black;
    border-radius: 0.7em;

}

::placeholder{
    font-size: 12px;
    font-family: "Poppins", sans-serif;
}


.sect4-btn button{
    padding: 5px;
    font-family: "Poppins", sans-serif;
    background-color: black;
    color: white;
    border-radius: 2em;
    width: 6em;
    cursor: pointer;

}


.Sect4-Side1{
    background-color: rgb(255, 255, 157);
    width: 20em;
    height:20em;
}  /* ########### End of Section 4 ############ */





/*############# Section 5 ##########*/
.Section-5{
    background-color: white;
    width: 100%;
    height: 16em;
    
}

.sect5-lay1{
    display: flex;
    padding-top: 8em;
    align-items: end;
    justify-content: center;
   text-align: center;

}

.sect5-text1{
    font-size: 12px;
}


.sect5-icons a i{
    color: black;
    font-size: 20px;
}




/* ###### MEDIA QUERY SECTION ####### */


@media  (max-width:768px) {

    .container{
        margin: 5px;
    }
    .Nav-links ul {
        display:none;
    }
    .menu-bar{
        display: block;
        margin-left: 5px;
    }


    

   #Name{
    width: 100%;
   }
   #Email{
    width: 100%;
   }
    
}



@media  (max-width:600px) {
    menu{
        height: 45%;
    }
    .Section-1{
        font-size: 50%;
    }
    .sect1-sub2 p {
        font-size: 3.3vmax;
    }

    .about-text{
        font-size: small;
    }
}











